.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.connect{
  width: 75vw;
  height: 300px;
  background-color: #3184a3;
  border-radius: 50px;
  display: flex;
}
.user_data{
  width: calc(75vw - 350px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_name{
  width: 90%;
  font-size: 15px;
  color: white;
  margin-right: 10px;
}
.user_field{
  width: 90%;
  font-size: 15px;
  background-color: #00000000;
  color: white;
  padding: 5px;
  border-bottom: 1px solid black;
}
.connect_button{
  width: 100px;
  height: 40px;
  background-color: rgb(26, 26, 59);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.connect_button:hover{
  background-color: rgb(26, 26, 59, 0.9);
}
.room_code{
  width: 150px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  background-color: white;
  color: black;
}
.image_container{
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name_input{
  width: 260px;
  padding: 10px;
  text-align: center;
}
.title{
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_cont{
  text-align: center;
}
.catchphrase{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.navbar{
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
}
.top_text{
  font-size: 36px;
  font-family: "AnonymousProBold";
  margin-left: 50px;
}
.page{
  width: 100vw;
  height: 100vh;
}